In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('allnomineesTweets2.csv',
                 encoding='latin-1')

#### read the dataset , here my dataset is named as 'allnomineesTweets2.csv'

In [44]:
df.head()

,screen_name,tweets,retweet,retweetcount,favcount
0,@MichaelBennet,"Today, we honor the men and women who made the...",False,30,145
1,@MichaelBennet,It is ridiculous that we live in the only indu...,False,41,136
2,@MichaelBennet,The opioid crisis has devastated communities a...,False,16,67
3,@MichaelBennet,How do we create shared prosperity in this cou...,False,34,98
4,@MichaelBennet,We need a president who understands why Washin...,False,20,91

In [45]:
dataset=df.drop(['retweet'], axis=1)

In [46]:
len(dataset)

35471

In [47]:
dataset=dataset.drop_duplicates()

#### check the dataset and remove duplicates if any

In [48]:
len(dataset)

27822

In [9]:
names = dataset['screen_name'].unique()

In [10]:
names

array(['@MichaelBennet', '@JoeBiden', '@CoryBooker', '@PeteButtigieg',
       '@JulianCastro', '@jddelaney', '@TulsiGabbard', '@KamalaHarris',
       '@Hickenlooper', '@GovInslee', '@amyklobuchar', '@WayneMessam',
       '@sethmoulton', '@BetoORourke', '@RepSwalwell', '@realDonaldTrump',
       '@ewarren', '@GovBillWeld', '@AndrewYang'], dtype=object)

#### all the presidential nominees at present

In [49]:
dataset = dataset.reset_index()

In [50]:
dataset.head()

,index,screen_name,tweets,retweetcount,favcount
0,0,@MichaelBennet,"Today, we honor the men and women who made the...",30,145
1,1,@MichaelBennet,It is ridiculous that we live in the only indu...,41,136
2,2,@MichaelBennet,The opioid crisis has devastated communities a...,16,67
3,3,@MichaelBennet,How do we create shared prosperity in this cou...,34,98
4,4,@MichaelBennet,We need a president who understands why Washin...,20,91

In [51]:
import pickle
with open('clf_LG_new.pkl', 'rb') as f:
    clf = pickle.load(f)

#### open the pickle and load your already trained classifier

In [52]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []
cachedStopWords = set(stopwords.words("english"))
newStopWords = ("https","http", "RT","co","rt","amp")
cachedStopWords.update((newStopWords))
for i in range(0, len(dataset)):
    try:
        review = re.sub('[^a-zA-Z]', ' ', dataset['tweets'][i])
        review = review.lower()
        review = review.split()
        ps = PorterStemmer()
        review = [ps.stem(word) for word in review if not word in cachedStopWords]
        review = ' '.join(review)
        corpus.append(review)
        #print(i)
    except:
        print(i)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

#### text preprocessing , here removing stopwords, lemmatizing remaining words and adding to a corpus

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
X = cv.fit_transform(corpus).toarray()

#### convert text in corpus to a countvectorizer with 1500 max features

In [16]:
y_pred=[]

In [54]:
y_pred=clf.predict(X)

#### predict target values i.e 0(neg), 4(pos)

In [80]:
y_pred[0]

0

In [81]:
p=0
for i in range(0,len(y_pred)):
    if y_pred[i]==4:
        p=p+1

In [82]:
p

12731

In [83]:
(p/len(y_pred))*100

45.758752066709796

####  total positive predicted values and its percenatge

In [33]:
w=dataset['tweets'][3]

In [63]:
w

'How do we create shared prosperity in this country, so when the economy grows everybody benefits? This is one of thâ\x80¦ https://t.co/wNlf2ERAak'

In [75]:
q="Website or no website, let’s be clear: Giant tech companies like Apple have too much power. In order to protect our economy and our democracy, we need to #BreakUpBigTech and level the playing field for everyone else"

In [76]:
review = re.sub('[^a-zA-Z]', ' ', q)
review = review.lower()
review = review.split()
ps = PorterStemmer()
review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
review = ' '.join(review)

In [77]:
review

'websit websit let clear giant tech compani like appl much power order protect economi democraci need breakupbigtech level play field everyon els'

In [78]:
x = cv.transform([review]).toarray()
clf.predict(x)

array([0], dtype=int64)

#### repeating the process to see the model predict value for a particualr tweet